@font-face{
  src:url(/fonts/toyota_bd.ttf);
  font-family: 'TYB';
}

@font-face{
  src:url(/fonts/toyota_rg.ttf);
  font-family: 'TYR';
}

@font-face{
  src:url(/fonts/OpenSans-Regular.ttf);
  font-family: 'OSR';
}

@font-face{
  src:url(/fonts/OpenSans-Bold.ttf);
  font-family: 'OSB';
}
