@import "../src/assets/fonts/fonts.css";

.header {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
    background: #ffffff;
}

.list li a.compound {
  width: 100%;
  display: block;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  position: relative;
  border-bottom: 1px solid #cccccc;
}

body {
    margin-bottom: 50px;
    font-family: 'OSR';
    background: #f0f0f0;
}

.compound img {
  min-height: 59px;
  min-width: 100px;
    display: block;
}


.form-control {
    margin-bottom: 10px;
}


p {
    margin: 0;
    padding: 0 0 15px 0;
}

.form {
  padding: 20px 0;
}

.error {
  color: red;
}

.helper {
  color: #666666;
}

h1 {
    font-size: 2.0rem;
}

h1, h2 {
    font-family: 'TYR';
    margin: 0;
    padding: 0 0 15px 0;
}

h3, h4, h5 {
    padding-top: 10px;
    font-size: 16px;
    font-family: 'TYR';
}

label {
    font-family: 'TYR';
    font-size: 1.3em;
    display: inline-block;
    padding-right: 10px;
}

.no-gutter-right {
    padding-right: 2px;
}

.no-gutter-left {
    padding-left: 3px;
}

.helper span {
    color: #000000;
  font-weight: bold;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.display-none {
  display: none;
}

.list {
  padding: 0;
}

.list h2 {
    padding-top: 0;
}

.list.simple {
  padding: 20px 0 0 0;
  margin-bottom: 15px;
}


.list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  padding: 0;
    font-size: 14px;
}

.copy-box {
    padding-right: 100px;
    padding-bottom: 20px;
}

.btn-clear {
    display: inline !important;
    font-size: 14px;
    width: auto;
    cursor: pointer;
    transition: background 0.33s;
}

.btn-clear:hover {
    background: #efefef;
}

.simple .heading {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
  margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
}

.baseUrl-text {
    font-size: 20px;
    padding-top: 4px;
}

.list li a {
  padding: 7px 0;
  border-bottom: 1px solid #efefef;
  line-height: 100%;
  text-decoration: underline;
  transition: all 0.5s;
  display: block;
}

.form-control:focus {
    box-shadow: none;
}

.single-config {
    margin-bottom: 30px;
    text-align: center;
}

hr {
    border-color: #cccccc;
    margin-top: 1.5em;
}

.single-config a {
    background: #ffffff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 4px;
    transition: border 0.25s;
}


.single-config a:hover {
    border: 1px solid #e0e0e0;
}

.bespoke-config-id {
    border: 1px solid #cccccc;
    padding: 10px 15px;
    margin-top: -5px;
}

.bespoke-config-id .form-control {
    display: inline;
}

.fields {
    display: block;
}


.single-config img {
    display: block;
    margin: 0 auto 5px auto;
}

.single-config a:hover {
    text-decoration: none;
}

span.id {
    font-family: 'TYR';
}

span.detail {
    margin-bottom: 5px;
    color: #000000;
    font-size: 14px;
    display: block;
}

.single-config a:hover .id {
    text-decoration: underline;
}

span.detail {
    text-decoration: none;
}

.btn-submit {
    margin-left: -5px;
}

strong {
    font-family: 'OSB';
    color: #000000;
}

.list.simple li a:hover {
  text-decoration: none;
  color: #000000;
}

.configId {
    width: 235px;
    display: block;
    margin-bottom: 10px !important;
}

.environment {
  margin-bottom: 10px !important;
    width: 100%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn {
  cursor: pointer;
    background: #e50000;
    color: #ffffff;
    transition: all 0.5s;
}

.btn:hover {
  background: #000000;
}

.btn[disabled],
.btn[disabled]:hover {
  background: #cccccc;
  cursor: default;
    opacity: 1 !important;
}

.baseUrl {
  width: 100%;
}

.clearList {
  text-align: right;
}

.form-control {
  margin-bottom: 15px;
}

div + label {
    margin-top: 15px;
}