@import "../src/assets/fonts/fonts.css";

.header {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}

.list li a.compound {
  width: 100%;
  display: block;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  position: relative;
  border-bottom: 1px solid #cccccc;
}

.compound img {
  float: right;
}

.text {
  position: absolute;
  left: 15px;
  top: 15px;
}

.text span {
  display: block;
}

.compound span {
  margin-bottom: 5px;
}

.compound span.id {
  font-size: 16px;
  font-weight: bold;
  font-family: 'TYB';
}

* {
  line-height: 120%;
}

p {
  margin-bottom: 8px;
}

.form {
  padding: 20px 0;
}

.error {
  color: red;
}

.helper {
  color: #666666;
}

label, .heading {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: 'TYB';
}

.heading {
  font-size: 1.5em;
}

.helper span {
  text-decoration: underline;
  font-weight: bold;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.display-none {
  display: none;
}

.list {
  padding: 20px 0;
}

.list ul {
  padding: 0;
  margin: 0;
  font-size: 1.1em;
  list-style: none;
}

.list li {
  padding: 0;
}

.list li a {
  display: block;
  padding: 10px 12px;
  border-bottom: 1px solid #efefef;
  line-height: 100%;
  text-decoration: none;
  transition: all 0.5s;
  color: #666666;
}

.btn-submit {
  margin-bottom: 30px;
}

.list li a:hover {
  background: #d7d7d7;
  color: #000000;
}

.configId,
.environment {
  width: 280px;
  display: block;
  margin-bottom: 15px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
  background: #999999;
}

.btn[disabled],
.btn[disabled]:hover {
  background: #cccccc;
  cursor: default;
}

.baseUrl:focus {
  box-shadow: none;
  outline: none;
  color: #111111;
}

.likeLabel {
  color: #999999;
}

.baseUrl {
  color: #999999;
}

.clearList {
  text-align: right;
}

.form-control {
  margin-bottom: 15px;
}

