@import "../src/assets/fonts/fonts.css";

.header {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}

.list li a.compound {
  width: 100%;
  display: block;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  position: relative;
  border-bottom: 1px solid #cccccc;
}

body {
    margin-bottom: 50px;
    font-family: 'OSR';
}

.compound img {
  float: right;
  min-height: 59px;
  min-width: 100px;
}

.text {
  position: absolute;
  left: 15px;
  top: 15px;
}

.text span {
  display: block;
    line-height: 130%;
}

.compound span {
  margin-bottom: 5px;
}

.compound span.id {
  font-size: 14px;
  font-weight: bold;
  font-family: 'TYB';
    color: #000000;
}

p {
    margin: 0;
    padding: 0 0 15px 0;
}

.form {
  padding: 20px 0;
}

.error {
  color: red;
}

.helper {
  color: #666666;
}

h1, h2, h3, h3, h5 {
    font-family: 'TYB';
    margin: 0;
    padding: 0 0 15px 0;
}

h2 {
    padding-top: 10px;
}

label {
    font-family: 'TYB';
    font-size: 1.4em;
    display: inline-block;
    padding-right: 10px;
}

.no-gutter-right {
    padding-right: 2px;
}

.no-gutter-left {
    padding-left: 3px;
}

.helper span {
    color: #000000;
  font-weight: bold;
}

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.display-none {
  display: none;
}

.list {
  padding: 20px 0;
}

.list h2 {
    padding-top: 0;
}

.list.simple {
  padding: 0;
  margin-bottom: 15px;
}


.list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  padding: 0;
}

.simple .heading {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.list li a {
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
  line-height: 100%;
  text-decoration: underline;
  transition: all 0.5s;
  display: block;
}

.list li a span.id  {
  font-size: 1.5em;
}

.form-control:focus {
    box-shadow: none;
}

.detailed ul {
    border-top: 1px solid #cccccc;
    padding-top: 10px;
}

strong {
    font-family: 'OSB';
    color: #000000;
}

.list.detailed li a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: #666666;
}

.btn-submit {
  margin-bottom: 30px;
}

.list.detailed li a:hover {
  background: #f1f1f1;
  color: #000000;
}

.list.simple li a:hover {
  text-decoration: none;
  color: #000000;
}

.configId {
    width: 235px;
    display: block;
    margin-bottom: 10px !important;
}

.environment {
  margin-bottom: 10px !important;
    width: 100%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn {
  cursor: pointer;
    background: #e50000;
    color: #ffffff;
    transition: all 0.5s;
}

.btn:hover {
  background: #000000;
}

.btn[disabled],
.btn[disabled]:hover {
  background: #cccccc;
  cursor: default;
}

.baseUrl {
  width: 100%;
    margin-bottom: 30px !important;
}

.clearList {
  text-align: right;
}

.form-control {
  margin-bottom: 15px;
}

